<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/app.css">
    <style>
        ::-webkit-scrollbar {
            width: 1px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
        /* Handle */
            ::-webkit-scrollbar-thumb {
            background: #888; 
        }
        .app {
            background: #000;
            background-image: url('assets/manandwoman.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            
        }
        header {
            color: white;
            margin: 38vh 0 2vh 0;
            font-weight: bold;
            font-size: 20px;
        }
        main {
            overflow: auto;
        }
        form {
            width: 260px;
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border-radius: 8px;
            border: 0;
            outline: 0;
        }
        input[type='submit'] {
            background: #038343;
            height: 40px;
            color: white;
        }
        input[type='submit']:hover {
            background: #1ccf76;
            
        }
        input[type='submit']:active {
            background: #038343;
            
        }
    </style>
</head>
<body>
    <div class="app">
        <header>
            Sign up
        </header>
        <main>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" id="" placeholder="Email">
                <input type="password" name="password" id="" placeholder="Password">
                <input type="text" name="imglink" placeholder="Enter link to your image">
                <input type="submit" value="Continue">
            </form>
        </main>
    </div>
</body>
</html>