<nav>
    <div class="logo">
        <span>
            <a href="/">
                WDD
            </a>
        </span>
            <a href="#" class="menu-bar">Menu</a>
    </div>
    <div class="menu animate">
        <a href="#">Welcome Deborah</a>
        <a href="#">My Account Dashboard</a>
        <a href="#">WDD Practicals</a>
        <a href="/wddprojects">WDD Projects</a>
        <a href="/login">Sign in</a>
        <a href="/register">Sign up</a>
        <a href="#">Log out</a>
    </div>
</nav>