<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="assets/navbar.css">
    <script src="assets/script.js" defer></script>
</head>
<body>
    <%- include('partials/nav') -%>
    <div class="container">
        <h1>Hello World</h1>
        <p>Welcome to my blogging site- to Add Blogs</p>
    </div>
    <%- include('partials/footer') -%>
</body>
</html>