<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/navbar.css">
    <script src="assets/script.js" defer></script>
</head>
<body>
    <%- include('../../partials/nav') -%>
    <div class="container">
        <div class="card-container">
            <div class="image-container">
                <img src="assets/jp.jpg" alt="">
            </div>
            <div class="card">
                <div class="details">
                    <h1>Deborah Favour Olufemi</h1>
                    <p>Name of Student</p>
                    <h2>JavaScript StopWatch</h2>
                    <p>Project Title</p>
                    <h2>Web Design and Development</h2>
                    <p>Course of Study</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="assets/jp.jpg" alt="">
            </div>
            <div class="card">
                <div class="details">
                    <h1>Deborah Favour Olufemi</h1>
                    <p>Name of Student</p>
                    <h2>JavaScript StopWatch</h2>
                    <p>Project Title</p>
                    <h2>Web Design and Development</h2>
                    <p>Course of Study</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="assets/jp.jpg" alt="">
            </div>
            <div class="card">
                <div class="details">
                    <h1>Deborah Favour Olufemi</h1>
                    <p>Name of Student</p>
                    <h2>JavaScript StopWatch</h2>
                    <p>Project Title</p>
                    <h2>Web Design and Development</h2>
                    <p>Course of Study</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="assets/jp.jpg" alt="">
            </div>
            <div class="card">
                <div class="details">
                    <h1>Deborah Favour Olufemi</h1>
                    <p>Name of Student</p>
                    <h2>JavaScript StopWatch</h2>
                    <p>Project Title</p>
                    <h2>Web Design and Development</h2>
                    <p>Course of Study</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="assets/jp.jpg" alt="">
            </div>
            <div class="card">
                <div class="details">
                    <h1>Deborah Favour Olufemi</h1>
                    <p>Name of Student</p>
                    <h2>JavaScript StopWatch</h2>
                    <p>Project Title</p>
                    <h2>Web Design and Development</h2>
                    <p>Course of Study</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer') -%>
</body>
</html>