<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="assets/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="app">
        <header>
            <div class="left">
                <div class="greeting">
                    <span>Hello</span>,
                    <span>
                        <% if(userlogged === undefined ){ %>
                            <%= "Friend" %>
                        <% }else { %>
                            <%= userlogged.user.username %>
                        <% } %>
                    </span>
                </div>
                <div class="pending_task">
                    20 done projects
                </div>
            </div>
            <div class="right">
                <img src="assets/jp.jpg" alt="jp">
            </div>
        </header>
        <section>
            <form action="#">
                <div>
                    <input type="search" name="" id=""
                        placeholder="Search"
                    >
                </div>
                <div class="funnel_icon">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path  d="M14 13v7h-4v-7L2.95 4h18.1Zm-2-.7L16.95 6h-9.9Zm0 0Z"/></svg>
                    </a>
                </div>
            </form>
        </section>
        <section>
            <div class="heading">Categories</div>
            <div class="cards">
                <div class="card">
                    <div class="card_title">Frontend</div>
                    <div class="pending_task">
                        <span>10</span>
                        <span>Tasks</span>
                    </div>
                    <div class="image">
                        <img src="assets/love.jpg" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="card_title">Backend</div>
                    <div class="pending_task">
                        <span>10</span>
                        <span>Projects</span>
                    </div>
                    <div class="image">
                        <img src="assets/love.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="heading">
                <div>Ongoing Projects</div>
                <div class="pending_task">
                    <a href="#">See all</a>
                </div>
            </div>
            <a href="/galery">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Todo App</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="assets/jp.jpg" alt="">
                            <img src="assets/helen.jpg" alt="">
                            <img src="assets/chisom.jpg" alt="">
                            <img src="assets/helen.jpg" alt="">
                            <img src="assets/chisom.jpg" alt="">
                            <span class="" style="color:var(--primary)">+</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="GameConsole-Controller/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Game Console</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="assets/jp.jpg" alt="">
                            <img src="assets/helen.jpg" alt="">
                            <img src="assets/chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="Slider-Carousel/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Slider AKA Carousel</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="Rainbow/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Rainbow</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="Rainbow/randomRainbow.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Random Rainbow</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="ChatApp/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Chat App</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="Navbar/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Navbar</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="SimpleCalculator/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Simple Calculator</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="Modal/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Modal</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="ExamApp/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Exam App</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="ProjectCard/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Project Card</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
            <a href="SearchBar/index.html">
                <div class="cards">
                    <div class="card full">
                        <div class="card_title">
                            <div class="left">Search Bar</div>
                            <div class="right pending_task gray_text">Frontend</div>
                        </div>
                        <div class="pending_task">
                            Team members
                        </div>
                        <div class="contributors">
                            <img src="jp.jpg" alt="">
                            <img src="helen.jpg" alt="">
                            <img src="chisom.jpg" alt="">
                            <!-- <span class="" style="color:var(--primary)">+</span> -->
                        </div>
                    </div>
                </div>
            </a>
        </section>
    </div>
</body>
</html>